
  <a routerLink="/collier/{{id}}">
    <div><img src="assets/bddIMG/colliers/{{img}}" width="160px" height="160px"/></div>
    <div><span>{{titla}}</span></div>
    <div class="price"><span>{{price}}</span></div>
  </a>

