/* You can add global styles to this file, and also import other style files */


body{
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;

  .logo {
    img {
      width: 100%;
      margin: 2% 0 0 2%;
    }
  }
  .flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 2% 0 2%;
    .userMenu {
      display: flex;

      .linkMenu {
        display: -webkit-box;
        p {
          padding: 0 10px;
        }
      }
    }
  }
}
.flexContent{
  display: flex;

  .navbarLeft{
    width: 25%;

    .borderNavLeft{
      border-right: solid #63706D 0.5px;
      height: 800px;
      div{
        margin-bottom: 10%;
        a{
          margin-left: 26%;
          font-size: 20px;
          text-decoration: none;
          color: black;
          font-family: 'Alegreya Sans', sans-serif;
        }
      }
    }
    .catTitle{
      text-align: center;
      font-size: 50px;
      font-family: 'Alex Brush', cursive;
      color: #63706D;
      margin: 10% 0%;
    }
  }
  .contentHome{
    justify-content: space-around;
    width: 75%;
    display: flex;
    flex-direction: row;

    .linkFlex{
      margin: 10%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      .bijouxLink{
        margin-bottom: 24%;
        a{
          text-decoration: none;
          text-align: center;

          .itemLinkBague{
            background-image: url("assets/bddIMG/bagues/bague10.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: 250px;
            margin-top: 10%;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &:hover{

              .itemTitle{
                display: block;
              }
            }
            .itemTitle{
              display: none;
              font-size: 28px;
              color: white;
              font-weight: bold;
              font-family: 'Alegreya Sans', sans-serif;
              background-color: rgba(157, 157, 157, 0.6);
              width: 250px;
              height: 250px;

              p{
                position: absolute;
                top: 33%;
                left: 35%;
              }
            }
          }
          .itemLinkCollier{
            background-image: url("assets/bddIMG/colliers/collier6.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: 250px;
            margin-top: 10%;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &:hover{

              .itemTitle1{
                display: block;
              }
            }
            .itemTitle1{
              display: none;
              font-size: 28px;
              color: white;
              font-weight: bold;
              font-family: 'Alegreya Sans', sans-serif;
              background-color: rgba(157, 157, 157, 0.6);
              width: 250px;
              height: 250px;

              p{
                position: absolute;
                top: 33%;
                left: 35%;
              }
            }
          }
          .itemLinkBracelet{
            background-image: url("assets/bddIMG/bracelets/bracelet5.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: 250px;
            margin-top: 10%;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &:hover{

              .itemTitle2{
                display: block;
              }
            }
            .itemTitle2{
              display: none;
              font-size: 28px;
              color: white;
              font-weight: bold;
              font-family: 'Alegreya Sans', sans-serif;
              background-color: rgba(157, 157, 157, 0.6);
              width: 250px;
              height: 250px;

              p{
                position: absolute;
                top: 33%;
                left: 31%;
              }
            }
          }
          .itemLinkBoucle{
            background-image: url("assets/bddIMG/bouclesDor/bc9.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: 250px;
            margin-top: 10%;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &:hover{

              .itemTitle3{
                display: block;
              }
            }
            .itemTitle3{
              display: none;
              font-size: 28px;
              color: white;
              font-weight: bold;
              font-family: 'Alegreya Sans', sans-serif;
              background-color: rgba(157, 157, 157, 0.6);
              width: 250px;
              height: 250px;

              p{
                position: absolute;
                top: 35%;
                left: 14%;
              }
            }
          }
        }

        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
footer{
  margin-top: 2%;
  text-align: center;
  .footerTitle{
    margin-bottom: 2%;
    font-size: 22px;
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
  }
  .socialLink{
    a{
      margin: 0 2% 2% 2%;
    }
  }
  .footerEnd{
    background-color: #63706D;
    color: white;
    padding: 0.4%;
    margin-top: 2%;
    font-size: 20px;
    font-family: 'Alex Brush', cursive;
  }
}


.border{
  border: solid #63706D 0.5px;
  margin: 1%;
}

app-bague-item{
  margin-right: 100px;

}
app-boucle-item{
  margin-right: 100px;

}
app-bracelet-item{
  margin-right: 100px;

}
app-collier-item{
  margin-right: 100px;

}
.item-flex{
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;

  a{
    margin-right: 60px;
    text-decoration: none;
    text-align: center;
    color:  #63706D;

      .price{
        margin-bottom: 20px;
      }
  }
}
.back{
  background: linear-gradient(#63706D, #9198e5);
  height: 300px;
  margin: 0;
  padding: 0;
  position: relative;

  .backText{
    color: white;
    font-size: 60px;
    font-family: 'Alex Brush', cursive;
    text-align: center;
    position: absolute;
    top: 36%;
    left: 36%;

  }
}
.imgInfosFlex{
  display: flex;
  justify-content: space-around;
  width: 100%;

  .infosItem{
    text-align: center;
    width: 40%;

    .titleItem{
      font-family: 'Alex Brush', cursive;
      font-size: 54px;
      text-transform: lowercase;
      color: #63706D;
    }
    .ref{
      color: grey;
    }
    .price{
      padding-top: 2%;
    }
    .size{
      padding-top: 6%;
    }
    .quantity{
      padding-top: 2%;
    }
    .addCart{
      margin-top: 6%;
      padding: 2% 0;
      background-color: grey;
      color: white;
    }
  }
}
.description{

  .descriptionTitle{
    color: #63706D;
    font-family: 'Alex Brush', cursive;
    font-size: 36px;
    padding: 6% 0 4% 0;
  }
  .descriptionItem{
    font-family: 'Alegreya Sans', sans-serif;
  }
}
.borderLeft{
  border-right: solid #63706D 0.5px;
  height: auto;
}
.borderRight{
  border-left: solid #63706D 0.5px;
  height: auto;
}
