
.cart{
  width: 100%;

  .recapTitle{
    color: white;
    background-color: grey;
    padding: 2%;
    text-align: center;
    margin: 130px 2% 2% 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
  }
}

.cartTab{
  display: flex;

  .infosProduct{

  }
  .qttProduct{

  }
  .totalProduct{

  }
}
