<div class="navbar">
  <div class="logo">
    <a routerLink="/"><img src="assets/img/logo1.png"/></a>
  </div>
  <div class="flexCol">
    <div class="userMenu">
      <div class="linkMenu">
        <img src="assets/icons/user.png"/>
        <p>CONNEXION</p>
      </div>
      <div class="linkMenu">
        <img src="assets/icons/cart.png"/>
        <p>PANIER</p>
      </div>
    </div>
  </div>
</div>

<div class="border"></div>
<div class="back">
  <div class="backText">Mon panier</div>
</div>
<div class="border"></div>

<div class="flexContent">
  <div class="navbarLeft">
    <div class="catTitle">Categorie</div>
    <div class="borderNavLeft">
      <div>
        <a routerLink="/bagues">BAGUES</a>
      </div>
      <div>
        <a routerLink="/colliers">COLLIERS</a>
      </div>
      <div>
        <a routerLink="/bracelets">BRACELETS</a>
      </div>
      <div>
        <a routerLink="/boucles">BOUCLES D'OREILLES</a>
      </div>
    </div>
  </div>
  <div class="contentHome">

        <div class="cart">
          <div class="recapTitle">Récapitulatif de votre commande</div>
          <div class="cartTab">
            <div class="infosProduct">Vos Produits</div>
          <!--  <div class="border"></div>-->
            <div class="borderLeft"></div>
            <div class="qttProduct">Quantité</div>
            <!--<div class="border"></div>-->
            <div class="borderRight"></div>
            <div class="totalProduct">Total</div>
           <!-- <div class="border"></div>-->
          </div>

        </div>
  </div>
</div>
<div class="border"></div>
<footer>
  <div class="footerTitle">REJOIGNEZ-NOUS</div>
  <div class="socialLink">
    <a>
      <img src="assets/icons/fb.png"/>
    </a>
    <a>
      <img src="assets/icons/insta.png"/>
    </a>
    <a>
      <img src="assets/icons/pin.png"/>
    </a>
    <a>
      <img src="assets/icons/twitter.png"/>
    </a>
  </div>
  <!--  <div class="border"></div>-->
  <div class="footerEnd">© 2018 Elodie Montavon. Tous droits réservés.</div>
  <!--  <div class="border"></div>-->
</footer>
