
<div class="navbar">
  <div class="logo">
    <a routerLink="/"><img src="assets/img/logo1.png"/></a>
  </div>
  <div class="flexCol">
    <div class="userMenu">
      <div class="linkMenu">
        <img src="assets/icons/user.png"/>
        <p>CONNEXION</p>
      </div>
      <div class="linkMenu">
        <img src="assets/icons/cart.png"/>
        <p>PANIER</p>
      </div>
    </div>
  </div>
</div>

<div class="border"></div>

<div class="flexContent">
  <div class="navbarLeft">
    <div class="catTitle">Categorie</div>
    <div class="borderNavLeft">
      <div>
        <a routerLink="/bagues">BAGUES</a>
      </div>
      <div>
        <a routerLink="/colliers">COLLIERS</a>
      </div>
      <div>
        <a routerLink="/bracelets">BRACELETS</a>
      </div>
      <div>
        <a routerLink="/boucles">BOUCLES D'OREILLES</a>
      </div>
    </div>
  </div>
  <div class="contentHome">
    <div class="container">
      <ul class="list-group">
        <div class="item-flex">

          <div class="imgInfosFlex">
            <div class="imgItem">
              <img src="assets/bddIMG/bagues/{{bague?.img}}" width="350px" height="350px" />
            </div>
            <div class="infosItem">
              <div class="titleItem">{{ bague?.title }}</div>
              <div class="ref">référence: <span>{{ bague?.reference}}</span></div>
              <div class="price"><span>{{ bague?.price}},00 €</span></div>

              <!--<div>{{ bague?.size}}</div>-->

              <div class="size form">
                <form (ngSubmit)="submitSize(f)" #f="ngForm">
                  <label for="size">Size:</label>
                  <select type="submit" [ngModel]="bagueSizeValue" (ngModelChange)="onSizeChange($event)"
                          class="browser-default"
                          name="size"
                          id="size"
                          required>
                    <option *ngFor="let option of options">{{ option }}</option>
                  </select>
                  <button type="submit">add</button>
                </form>
              </div>
              <div class="quantity">
                <span>+</span><span>{{ bague?.quantity}}</span><span>-</span>
              </div>
              <a routerLink="/cart"><div class="addCart">AJOUTER AU PANIER</div></a>
            </div>
          </div>
          <div class="description">
            <div class="descriptionTitle">Description:</div>
            <div class="descriptionItem">{{ bague?.description}}</div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="border"></div>
<footer>
  <div class="footerTitle">REJOIGNEZ-NOUS</div>
  <div class="socialLink">
    <a>
      <img src="assets/icons/fb.png"/>
    </a>
    <a>
      <img src="assets/icons/insta.png"/>
    </a>
    <a>
      <img src="assets/icons/pin.png"/>
    </a>
    <a>
      <img src="assets/icons/twitter.png"/>
    </a>
  </div>
  <!--  <div class="border"></div>-->
  <div class="footerEnd">© 2018 Elodie Montavon. Tous droits réservés.</div>
  <!--  <div class="border"></div>-->
</footer>





