<div class="navbar">
  <div class="logo">
    <a routerLink="/"><img src="assets/img/logo1.png"/></a>
  </div>
  <div class="flexCol">
    <div class="userMenu">
      <div class="linkMenu">
        <img src="assets/icons/user.png"/>
        <p>CONNEXION</p>
      </div>
      <div class="linkMenu">
        <img src="assets/icons/cart.png"/>
        <p>PANIER</p>
      </div>
    </div>
  </div>
</div>
<div class="border"></div>
<div class="back">
  <div class="backText">Collection Bagues</div>
</div>
<div class="border"></div>

<div class="flexContent">
  <div class="navbarLeft">
    <div class="catTitle">Categorie</div>
    <div class="borderNavLeft">
      <div>
        <a routerLink="/colliers">COLLIERS</a>
      </div>
      <div>
        <a routerLink="/bracelets">BRACELETS</a>
      </div>
      <div>
        <a routerLink="/boucles">BOUCLES D'OREILLES</a>
      </div>
    </div>
  </div>
  <div class="contentHome">
    <div class="container">
      <ul class="list-group">
        <div class="item-flex">
          <app-bague-item
            *ngFor = "let bagues of bagues"
            [img] ="bagues.img"
            [title] = "bagues.title"
            [price]= "bagues.price"
            [size] ="bagues.size"
            [quantity] ="bagues.quantity"
            [id]="bagues.id">
          </app-bague-item>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="border"></div>
<footer>
  <div class="footerTitle">REJOIGNEZ-NOUS</div>
  <div class="socialLink">
    <a>
      <img src="assets/icons/fb.png"/>
    </a>
    <a>
      <img src="assets/icons/insta.png"/>
    </a>
    <a>
      <img src="assets/icons/pin.png"/>
    </a>
    <a>
      <img src="assets/icons/twitter.png"/>
    </a>
  </div>
  <!--  <div class="border"></div>-->
  <div class="footerEnd">© 2018 Elodie Montavon. Tous droits réservés.</div>
  <!--  <div class="border"></div>-->
</footer>
