
  <a routerLink="/bracelet/{{id}}">
    <div><img src="assets/bddIMG/bracelets/{{img}}" width="160px" height="160px" /></div>
    <div><span>{{title}}</span></div>
    <div class="price"><span>{{price}}</span></div>
  </a>

