
<div class="navbar">
  <div class="logo">
    <a routerLink="/"><img src="assets/img/logo1.png"/></a>
  </div>
  <div class="flexCol">
    <div class="userMenu">
      <div class="linkMenu">
          <img src="assets/icons/user.png"/>
          <p>CONNEXION</p>
      </div>
      <div class="linkMenu">
        <img src="assets/icons/cart.png"/>
        <p>PANIER</p>
      </div>
    </div>
  </div>
</div>

<div class="border"></div>
<div class="imgHome">
  <img src="assets/img/pearl4.jpg"/>
</div>
<div class="border"></div>

<div class="flexContent">
      <div class="navbarLeft">
          <div class="catTitle">Categorie</div>
          <div class="borderNavLeft">
            <div>
              <a routerLink="/bagues">BAGUES</a>
            </div>
            <div>
              <a routerLink="/colliers">COLLIERS</a>
            </div>
            <div>
              <a routerLink="/bracelets">BRACELETS</a>
            </div>
            <div>
              <a routerLink="/boucles">BOUCLES D'OREILLES</a>
            </div>
          </div>
      </div>
      <div class="contentHome">
            <div class="linkFlex">
                <div class="bijouxLink">
                    <a routerLink="/bagues">
                      <div class="itemLinkBague">
                        <div class="itemTitle"><p>Bagues</p></div>
                      </div>
                        <!--<img src="assets/bddIMG/bagues/bague10.jpg" width="160px" height="160px" />-->
                    </a>
                </div>
                <div class="bijouxLink">
                    <a routerLink="/colliers" >
                      <div class="itemLinkCollier">
                        <div class="itemTitle1"><p>Colliers</p></div>
                      </div>
                       <!-- <img src="assets/bddIMG/colliers/collier6.jpg" width="160px" height="160px" />-->
                    </a>
                </div>
            </div>
            <div class="linkFlex">
                <div class="bijouxLink">
                    <a routerLink="/bracelets">
                      <div class="itemLinkBracelet">
                        <div class="itemTitle2"><p>Bracelets</p></div>
                      </div>
                       <!-- <img src="assets/bddIMG/bracelets/bracelet5.jpg" width="160px" height="160px" />-->
                    </a>
                </div>
                <div class="bijouxLink">
                    <a routerLink="/boucles">
                      <div class="itemLinkBoucle">
                        <div class="itemTitle3"><p>Boucles d'oreilles</p></div>
                      </div>
                       <!-- <img src="assets/bddIMG/bouclesDor/bc9.jpg" width="160px" height="160px" />-->
                    </a>
                </div>
            </div>
      </div>
</div>
<div class="border"></div>
<footer>
  <div class="footerTitle">REJOIGNEZ-NOUS</div>
  <div class="socialLink">
    <a>
      <img src="assets/icons/fb.png"/>
    </a>
    <a>
      <img src="assets/icons/insta.png"/>
    </a>
    <a>
      <img src="assets/icons/pin.png"/>
    </a>
    <a>
      <img src="assets/icons/twitter.png"/>
    </a>
  </div>
<!--  <div class="border"></div>-->
  <div class="footerEnd">© 2018 Elodie Montavon. Tous droits réservés.</div>
<!--  <div class="border"></div>-->
</footer>



