
  <a routerLink="/bague/{{id}}">
    <div><img src="assets/bddIMG/bagues/{{img}}" width="160px" height="160px" /></div>
    <div><span>{{title}}</span></div>
    <div class="price"><span>{{price}},00 €</span></div>
  </a>

